body{
 margin: 0;
  background-image: linear-gradient(-20deg, #B664AD 0%, #F90514 100%);
  overflow-y: hidden;
}

.yesBtn{
  padding: 30px 53px;
  margin-bottom: 2px;
  background: white;
  cursor: pointer;
}
